<h1 class="text-center">About the Fort Collins Blog</h1>
<div class="col-md-8 col-md-offset-2">
  <p>
    Voluptate burgdoggen consectetur frankfurter kielbasa culpa jowl non ribeye
    filet mignon ham hock leberkas id biltong. Chicken id tail short loin,
    burgdoggen duis in beef ribs laboris t-bone dolore incididunt.
    Labore sirloin hamburger ex dolor buffalo id flank ut adipisicing.
  </p>
  <p>Duis hamburger anim, ribeye aliqua occaecat jerky buffalo
    esse turkey bacon pork cupidatat andouille. Brisket culpa ut magna ground round
    strip steak, eiusmod occaecat kielbasa lorem minim tenderloin boudin eu.
    Ham hock lorem laboris cow nostrud drumstick turkey mollit.
  </p>
  <%= link_to 'Return home', root_path, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'View article listing', articles_path,
      class: 'btn btn-sm btn-primary' %>
  <div class="push-down"></div>
</div>
