$navbar-default-bg: rgb(54, 93, 152);

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('old-town.jpg');
  background-size: cover;
  height: 770px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-home {
  color: white;
  border: 0;
  background-color: rgb(54, 93, 152) !important;
  transition: all 300ms linear !important;
  -webkit-transition: all 300ms linear !important;
  -ms-transition: all 300ms linear !important;
}

.btn-home:hover, .btn-home:focus {
  border: 0;
  color: white;
  background-color: rgb(60, 105, 173);
}

ul.nav.navbar-nav li a {
  color: #c0c0c0;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
}

ul.nav.navbar-nav li a:hover {
  color: black;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

footer {
  border-top: 1px solid lightgray;
  padding-top: 7px;
  background-color: #eee;
  text-align: center;
}

footer ul li{
  display: inline;
  padding: 5px;
}

#h1-center {
  text-align: center;
}
