<footer class="navbar-fixed-bottom">
  <div class="container">
    <small>
      Copyright &copy; 2018 | FoCo Blog by Ken Corley | All Rights Reserved
    </small>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'New Article', new_article_path %></li>
        <li><%= link_to 'View Articles', articles_path %></li>
      </ul>
    </nav>
  </div>
</footer>
